VITE_GRIDLENS_API_BASE_URL=http://18.219.67.74:8000
VITE_GRIDLENS_AUTH_MODE=cognito
VITE_GRIDLENS_COGNITO_DOMAIN=https://gridlens-auth.auth.us-east-2.amazoncognito.com
VITE_GRIDLENS_COGNITO_CLIENT_ID=1fg4rob39173juicpl2kislaq2
VITE_PUBLIC_BASE_PATH=gridlens.github.io